<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="SocialNetworkByPhone"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SocialNetworkByPhone"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="JPA"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONNECTION_PROFILE_NAME" value="MySQL SocialNetwork By Phone"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS"/>
<stringAttribute key="org.hibernate.eclipse.launch.PROPERTY_FILE" value="/SocialNetworkByPhone/hibernate-console.properties"/>
</launchConfiguration>
